<!DOCTYPE html>
<html>
  <%- include("./partials/header.ejs") %>
  <body>
    <div class="content">
      <h1><%= title %></h1>

      <div class="msg-container">
        <% messages.forEach(message => { %>
        <div class="message-container">
          <div class="container-top">
            <h4 class="user"><%= message.user %></h4>
            <p class="date"><%= message.formattedDate %></p>
          </div>
          <p class="message"><%= message.message %></p>
          <hr />
        </div>
        <% }) %>
      </div>

      <button id="newMsgBtn">New Message</button>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script>
      document
        .getElementById("newMsgBtn")
        .addEventListener("click", function () {
          window.location.href = "/new";
        });

      function formatDate(dateString) {
        const date = new Date(dateString);
        const options = {
          day: "numeric",
          month: "short",
          hour: "numeric",
          minute: "numeric",
        };
        return date.toLocaleDateString("en-GB", options);
      }
    </script>
  </body>
</html>
