<!DOCTYPE html>
<html>
  <%- include("./partials/header.ejs") %>
  <body>
    <div class="content">
      <h1><%= title %></h1>

      <div class="msg-container">
        <% messages.forEach(message => { %>
        <h4 class="user"><%= message.user %></h4>
        <p class="message"><%= message.message %></p>
        <% }) %>
      </div>

      <button id="newMsgBtn">New Message</button>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script>
      document
        .getElementById("newMsgBtn")
        .addEventListener("click", function () {
          window.location.href = "/new";
        });
    </script>
  </body>
</html>
